{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Please Vote Me — Page Not Found{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <div class="text-center">
                <h1>Page Not Found</h1>
                <img src="{% static "img/404.png" %}">
                <h3>Sorry, the voting ballot has gone missing.</h3>
            </div>
        </div>
    </div>
{% endblock %}
