{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Please Vote Me — Internal Server Error{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <div class="text-center">
                <h1>Internal Server Error</h1>
                <img src="{% static "img/500.png" %}">
                <h3>Sorry, the voting ballot is stucked.</h3>
            </div>
        </div>
    </div>
{% endblock %}
