{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <meta property="og:site_name" content="Please Vote Me">
    <meta property="fb:app_id" content="129697340552763">

    {% block opengraph_tags %}
        <meta property="og:title" content="Please Vote Me">
        <meta property="og:description" content="Learn more about the GE13 candidates and vote for your favourite ones. Who will you vote for?">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://pleasevote.me">
        <meta property="og:image" content="{% static "img/icon/og-icon.png" %}">
    {% endblock %}

    {% block meta_tags %}
        <meta name="keywords" content="election, malaysia, ge13, pru13, malaysia general election, vote, spr">
        <meta name="description" content="Learn more about the GE13 candidates and vote for your favourite ones. Who will you vote for?">
    {% endblock %}

    <link rel="icon" href="{% static "img/icon/favicon.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "img/icon/apple-touch-icon.png" %}">
    <meta name="msapplication-TileImage" content="{% static "img/icon/ms-metro-icon.png" %}">
    <meta name="msapplication-TileColor" content="#F05133">

    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:400,700' rel='stylesheet' type='text/css'>

    {% compress css %}
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" href="{% static "css/foundation.css" %}" />
    {% endcompress %}

    {% block header_css %}{% endblock %}
    {% block header_js %}{% endblock %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    {% if not debug %}
        <script type="text/javascript">
            var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias","ready"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
            analytics.load("t5fsam73kx");
        </script>
    {% endif %}
</head>
<body>
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
            appId      : '129697340552763',
            channelUrl : '//pleasevote.me/channel.html',
            status     : true,
            xfbml      : true
        });

    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div id="navbar" class="contain-to-grid">
<nav class="top-bar">
    <ul class="title-area">
        <!-- Title Area -->
        <li class="logo">
            <a href="/">
                <img src="{% static "img/logo/topbar-logo.png" %}" height="44" width="163">
            </a>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
        <ul class="right">
{#            <li class="has-dropdown"><a href="{% url 'campaign' %}">Campaign</a>#}
{#                <ul class="dropdown">#}
{#                    <li><a href="{% url 'campaign_coalition' 'pr' %}">Pakatan Rakyat</a></li>#}
{#                    <li><a href="{% url 'campaign_coalition' 'bn' %}">Barisan Nasional</a></li>#}
{#                </ul>#}
{#            </li>#}
            <li>
                <a href="{% url 'campaign' %}">Campaign</a>
            </li>
            <li>
                <a href="{% url 'vote' %}">Vote Now</a>
            </li>
            <li>
                <a href="http://www.jombalikundi.com/" target="_blank">JomBalikUndi</a>
            </li>
        </ul>
    </section>
</nav>
</div>
<div id="content" class="wrap" style="margin-top: 10px">
    {%  block content %}
    {% endblock %}
</div>
<footer>
    <div class="row">
        <div class="large-4 columns">

            <ul class="inline-list left" style="margin-bottom: 0">
                <li>&copy; {% now "Y" %} Please Vote Me</li>
            </ul>
        </div>

        <div class="large-8 columns">
            <ul class="inline-list right" style="margin-bottom: 0">
                <li><a href="http://facebook.com/pleasevoteme" target="_blank">Facebook</a></li>
                <li><a href="http://twitter.com/pleasevoteme" target="_blank">Twitter</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'tos' %}">Terms</a></li>
                <li><a href="{% url 'privacy' %}">Privacy</a></li>
                <li><a href="{% url 'faq' %}">FAQ</a></li>
            </ul>
        </div>
    </div>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/foundation/4.1.2/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
{% compress js %}
    <script src="{% static "js/custom/jquery.stickyFooter.js" %}"></script>
    <script src="{% static "js/custom/jquery.fitText.js" %}"></script>
    <script src="{% static "js/custom/jquery.waitForImages.js" %}"></script>
    <script src="{% static "js/app/app.js" %}"></script>
{% endcompress %}
{% block footer_js %}
{% endblock %}
</body>
</html>
