{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Please Vote Me — Vote for your favorite GE13 candidates!{% endblock %}
{% block opengraph_tags %}
    <meta property="og:title" content="Please Vote Me — Vote for your favorite GE13 candidates!">
    <meta property="og:description" content="Learn more about the GE13 candidates and vote for your favourite ones on Please Vote Me. Who are your favorite candidates?">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://pleasevote.me">
    <meta property="og:image" content="{% static "img/icon/og-icon.png" %}">
{% endblock %}

{% block meta_tags %}
    <meta name="keywords" content="election, malaysia, ge13, pru13, malaysia general election, vote, spr">
    <meta name="description" content="Learn more about the GE13 candidates and vote for your favourite ones on Please Vote Me. Who are your favorite candidates?">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <div class="text-center">
                <h1>Who are your favorite GE13 candidates?</h1>
                <img src="{% static "img/pop-or-not-landing.png" %}">
                <div style="margin-top: 25px">
                    <a href="{% url 'vote' %}" class="large button red" style="margin-bottom: 0">VOTE NOW</a>
                    <p>Don't worry, voting is completely anonymous.</p>
                </div>
                <div>
                    <span>
                        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Fpleasevoteme&amp;send=false&amp;layout=button_count&amp;width=49&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=20&amp;appId=129697340552763" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:49px; height:20px;" allowTransparency="true"></iframe>
                    </span>
                    <span>
                        <a href="https://twitter.com/pleasevoteme" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @pleasevoteme</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
