{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}
{% block title %}Please Vote Me — Who will you vote for?{% endblock %}
{% block opengraph_tags %}
    <meta property="og:title" content="Please Vote Me — Who will you vote for?">
    <meta property="og:description" content="Learn more about the GE13 candidates and vote for your favourite ones on Please Vote Me. Who are your favorite candidates?">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://pleasevote.me">
    <meta property="og:image" content="{% static "img/icon/og-icon.png" %}">
{% endblock %}

{% block meta_tags %}
    <meta name="keywords" content="election, malaysia, ge13, pru13, malaysia general election, vote, spr">
    <meta name="description" content="Learn more about the GE13 candidates and vote for your favourite ones on Please Vote Me. Who are your favorite candidates?">
{% endblock %}
{% block header_css %}
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-12 columns">
            <div class="text-center">
                <h2>Who will you vote for?</h2>
                <div class="row">
                    <div class="ballot">
                        <div class="large-4 large-offset-1 columns">
                            <div class="candidate {{ candidate_a.side|lower }}" data-candidate="a">
                                <h1 class="name">{{ candidate_a.name }}</h1>
                                <div class="photo">
                                    <img src="{{ candidate_a.photo.url }}">
                                    <div class="popularity">
                                        <img src="{% static "img/trans_placeholder.png" %}">
                                        <div class="score">
                                            <div class="cps">
                                                <span style="font-size:30px">Popularity</span>
                                                <br>
                                                <span class="percentage"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="thumbs-up">
                                        <img src="{% static "img/vote_clean.png" %}">
                                    </div>
                                </div>

                                <div class="party text-left">
                                    {% if candidate_a.party.coalition.abbreviation == "BN" %}
                                        <img class="party-logo" src="{{ candidate_a.party.coalition.logo_thumb.url }}" width="70">
                                    {% else %}
                                        <img class="party-logo" src="{{ candidate_a.party.logo_thumb.url }}" width="70">
                                    {% endif %}
                                    <div class="party-coalition">{{ candidate_a.party.coalition }}</div>
                                    <div class="party-abbr">{{ candidate_a.party.abbreviation }}</div>
                                </div>
                                <div class="seat text-left">
                                    <img class="state-flag" src="{{ candidate_a.state.flag_thumb.url }}" width="70">
                                    <div class="seat-p">{% if candidate_a.seat_p %}{{ candidate_a.seat_p }}{% endif %}</div>
                                    <div class="seat-n">{% if candidate_a.seat_n %}{{ candidate_a.seat_n }}{% endif %}</div>
                                </div>
                                <div class="candidate-loading">
                                    <img src="{% static "img/loader.gif" %}">
                                </div>
                            </div>
                        </div>
                        <div class="large-2 columns">
                            <div class="or">
                                <img src="{% static "img/or.png" %}" width="70" height="70">
                            </div>
                            <div id="share-result">
                                Share Result
                                <ul>
                                    <li id="facebook-share"><a class="fb-share-btn" href="https://www.facebook.com/dialog/feed?" onclick="shareOnFacebook(); return false;"><div><i class="img"></i>Share</div></a></li>
                                    <li id="twitter-tweet"></li>
                                </ul>
                            </div>

                        </div>
                        <div class="large-4 left columns">
                            <div class="candidate {{ candidate_b.side|lower }}" data-candidate="b">
                                <h1 class="name">{{ candidate_b.name }}</h1>
                                <div class="photo">
                                    <img src="{{ candidate_b.photo.url }}">
                                    <div class="popularity">
                                        <img src="{% static "img/trans_placeholder.png" %}">
                                        <div class="score">
                                            <div class="cps">
                                                <span style="font-size:30px">Popularity</span>
                                                <br>
                                                <span class="percentage"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="thumbs-up">
                                        <img src="{% static "img/vote_clean.png" %}">
                                    </div>
                                </div>
                                <div class="party text-left">
                                    {% if candidate_b.party.coalition.abbreviation == "BN" %}
                                        <img class="party-logo" src="{{ candidate_b.party.coalition.logo_thumb.url }}" width="70">
                                    {% else %}
                                        <img class="party-logo" src="{{ candidate_b.party.logo_thumb.url }}" width="70">
                                    {% endif %}
                                    <div class="party-coalition">{{ candidate_b.party.coalition }}</div>
                                    <div class="party-abbr">{{ candidate_b.party.abbreviation }}</div>
                                </div>
                                <div class="seat text-left">
                                    <img class="state-flag" src="{{ candidate_b.state.flag_thumb.url }}" width="70">
                                    <div class="seat-p">{% if candidate_b.seat_p %}{{ candidate_b.seat_p }}{% endif %}</div>
                                    <div class="seat-n">{% if candidate_b.seat_n %}{{ candidate_b.seat_n }}{% endif %}</div>
                                </div>
                                <div class="candidate-loading">
                                    <img src="{% static "img/loader.gif" %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 large-offset-3 columns">
                        {% csrf_token %}
                        <a id="skip-or-next" class="large button red">Skip</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block footer_js %}
    <script type="text/javascript">
        var token = "{{ token }}";
        var voted = false;
        var shareData = {
            url: "",
            short_url: "",
            title: ""
        };
    </script>
    {% compress js %}
    <script type="text/javascript">
        /* Django CSRF setup */
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function shareOnFacebook() {
            var obj = {
                method: 'feed',
                redirect_uri: 'http://pleasevote.me/vote/',
                link: shareData.url,
                picture: '{% static "img/icon/og-icon.png" %}',
                name: shareData.title,
                description: 'Find out who is more popular and learn more about them on Please Vote Me.',
                actions: {'name': 'Vote on Please Vote Me', 'link': 'http://pleasevote.me/vote/'}
            };

            function callback(response) {
                document.getElementById('msg').innerHTML = "Post ID: " + response['post_id'];
            }

            FB.ui(obj, callback);
        }


        $(document).ready(function() {
            function updateCandidate(selector, candidate) {
                selector.attr('class', 'candidate ' + candidate.side.toLowerCase());
                selector.find('.name').text(candidate.name);
                selector.find('.photo > img').attr('src', candidate.photo);

                if (candidate.party.coalition.abbreviation == "BN") {
                    selector.find('.party-logo').attr('src', candidate.party.coalition.logo_thumb);
                } else {
                    selector.find('.party-logo').attr('src', candidate.party.logo_thumb);
                }

                selector.find('.party-coalition').text(candidate.party.coalition.name);
                selector.find('.party-abbr').text(candidate.party.abbreviation);

                if (candidate.seat_p) {
                    selector.find('.state-flag').attr('src', candidate.seat_p.state.flag_thumb);
                    selector.find('.seat-p').text(candidate.seat_p.code + ' - ' + candidate.seat_p.name);
                }

                if (candidate.seat_n) {
                    selector.find('.state-flag').attr('src', candidate.seat_n.state.flag_thumb);
                    selector.find('.seat-p').text(candidate.seat_n.code + ' - ' + candidate.seat_n.name);
                }
            }

            function trackEvent(event) {
                if (typeof analytics !== "undefined" && analytics !== null) {
                    analytics.track(event);
                }
            }

            $(".candidate .name").fitText(1.2);

            $('.candidate').find('.photo').hover (
                    function() {
                        if (voted) {
                            $(this).find('.thumbs-up').hide();
                        } else {
                            $(this).find('.thumbs-up').show();
                        }
                    },
                    function () {
                        $(this).find('.thumbs-up').hide();
                    }
            );

            $('.candidate .photo').click(function() {
                var vote = $(this).parent().data("candidate");

                if (voted) {
                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: "{% url 'register_vote' %}",
                    data: {
                        "token": token,
                        "vote": vote,
                        "csrfmiddlewaretoken": getCookie('csrftoken')
                    },
                    dataType: "json",

                    beforeSend: function(){
                        $('#skip-or-next').addClass('disabled');
                        $('.thumbs-up').hide();
                        $('.candidate-loading').show();
                    },

                    success: function(resp){
                        $('[data-candidate="a"]').find('.cps .percentage').text(resp.popularity_a + '%');
                        $('[data-candidate="b"]').find('.cps .percentage').text(resp.popularity_b + '%');

                        voted = true;
                        $('.popularity').show();
                        $('#skip-or-next').text("Next");
                        $('.candidate .photo').addClass('no-click');
                        $('#share-result').fadeIn('fast');

                        shareData.title = resp.result_title;
                        shareData.url = resp.result_url;
                        shareData.short_url = resp.result_short_url;

                        var content = '<a href="https://twitter.com/share" class="twitter-share-button" data-url="' + resp.result_short_url + '" data-text="' + resp.result_title + '" data-via="pleasevoteme" data-related="pleasevoteme" data-count="none" data-hashtags="' + resp.result_tags + '">Tweet</a>';
                        $('#twitter-tweet').html(content);
                        twttr.widgets.load();

                        trackEvent('Vote');
                    },

                    error: function(){
                        trackEvent('Vote Error');
                        location.reload();
                    },

                    complete: function(){
                        $('#skip-or-next').removeClass('disabled');
                        $('.candidate-loading').hide();
                    }
                });
            });

            $('#skip-or-next').click(function() {
                $('#share-result').fadeOut('fast');

                $.ajax({
                    type: "GET",
                    url: "{% url 'skip_or_next' %}",
                    data: {"token": token},
                    dataType: "json",

                    beforeSend: function(){
                        $('#skip-or-next').addClass('disabled');
                        $('.candidate').attr('class', 'candidate load');
                        $('.candidate-loading').show();
                    },

                    success: function(resp){
                        var candidate_a = $('[data-candidate="a"]');
                        var candidate_b = $('[data-candidate="b"]');
                        token = resp.token;

                        $('.seat-p').text('');
                        $('.seat-n').text('');

                        updateCandidate(candidate_a, resp.candidate_a);
                        updateCandidate(candidate_b, resp.candidate_b);

                        $('.popularity').hide();
                        $('.candidate .photo').removeClass('no-click');
                        $('#skip-or-next').text("Skip");

                        if (voted) {
                            trackEvent('Next');
                        } else {
                            trackEvent('Skip');
                        }

                        voted = false;
                    },

                    error: function(){
                        if (voted) {
                            trackEvent('Next Error');
                        } else {
                            trackEvent('Skip Error');
                        }
                        location.reload();
                    },

                    complete: function(){
                        $('.ballot').waitForImages(function() {
                            $('#skip-or-next').removeClass('disabled');
                            $('.candidate-loading').hide();
                        });
                    }
                });
            });
        });
    </script>
    {% endcompress %}
{% endblock %}