

/* FOOTER */

// Background color for the top bar
$footer-bg: #fffefa !default;
$footer-border-top: #c9c2b4 !default;

// Height and margin
$footer-height: 70px !default;
$footer-margin: 20px 0 !default;

// Set the link colors and styles for top-level nav
$footer-link-color: #fff !default;
$footer-link-weight: bold !default;
$footer-link-font-size: emCalc(20px) !default;

footer {
  //border-top: 5px solid #ddd3c0;
  overflow: hidden;
  background: $footer-bg;
  padding: 20px 0;
  color: #999;
  margin-top: 20px;

  .company {
    font-size: 12px;
  }
}

/* VOTE */

$bn-color: #00a4e4 !default;
$pr-color: #ff9900 !default;
$ind-color: #c9c2b4 !default;

.ballot {
  position: relative;
  overflow: hidden;
  font-family: 'Roboto Condensed', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  }

  h1 {
    font-size: 30px;
  }

  .bn {
    border-color: $bn-color;
  }

  .pr {
    border-color: $pr-color;
  }

  .ind {
    border-color: $ind-color;
  }

  .load {
    border-color: #c8c2b4;
  }

  .or, .vs {
    margin: 15px 0;
    @media #{$small} {
      margin: 100px 0 15px;
    }
  }

  .candidate {
    background: #fff;
    border-width: 0 10px 10px 0;
    border-style: solid;
    padding: 10px;
    position: relative;

    .profile {
      overflow: hidden;

      h1 {
        margin: 0 0 10px 0;
        line-height: 1;
        font-size: 28px;
      }
    }

    .photo-small {
      img {
        @include radius(300px);
      }
    }

    .popularity-scale {
      margin-top: 10px;

      .ps-info {
        overflow: hidden;
        margin-bottom: 5px;
        line-height: normal;
      }
    }

    .photo {
      position: relative;
      cursor: pointer;

      img {
        @include radius(300px);
      }

      .thumbs-up, .popularity {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;

        img {
          background: transparent;
          background: rgba(0, 0, 0, 0.5);
        }
      }

      .popularity {
        color: #ffffff;
        display: none;
        vertical-align: middle;

        .score {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: table;

          .cps {
            display: table-cell;
            vertical-align: middle;

            .percentage {
              font-size: 70px;
            }
          }
        }
      }
    }

    .party-logo, .state-flag {
      float: left;
      margin-right: 10px;
    }

    .party {
      background: #f6f6f6;
      overflow: hidden;
      padding: 10px;
      margin-top: 20px;
    }

    .seat {
      background: #f6f6f6;
      overflow: hidden;
      padding: 10px;
    }

    .no-click {
      cursor: default;
    }

    .candidate-loading {
      position: absolute;
      background: #ffffff;
      background: rgba(255, 255, 255, 0.95);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: none;

      img {
        width: 48px;
        height: 48px;
        margin: -24px 0 0 -24px;
        left: 50%;
        top: 50%;
        position: absolute;
      }
    }
  }
}

#skip-or-next {
  margin-top: 15px;
  width: 100%;
  text-transform: uppercase;

  @media #{$small} {
    width: 50%;
  }
}

#share-result {
  margin: 20px 0 15px 0;
  font-family: $body-font-family;
  display: none;

  ul {
    list-style: none;
    margin: 0;

    li {
      margin: 5px 0;
    }
  }
}

.fb-share-btn {
  background: #ECEEF5;
  -webkit-border-radius: 3px;
  border: 1px solid #CAD4E7;
  cursor: pointer;
  padding: 0px 3px 3px;
  white-space: nowrap;
  color: #3B5998;
  font-size: 11px;
  font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
  line-height: 1.28;
  text-align: left;
  display: inline-block;
  direction: ltr;

  i.img {
    -ms-high-contrast-adjust:none;
    _overflow:hidden;
    background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y3/r/Q8FTZ0iJJF2.png);
    background-repeat:no-repeat;
    display:inline-block;
    height:14px;
    width:14px;
    position: relative;
    top: 3px;
    margin-right: 3px;
  }

  a {
    background: transparent;
    border: 0;
    margin: -1px;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    display: inline-block;
  }

  .tiny-fb {
    background-position: -131px -150px;
  }

  .icon {
    position: relative;
    top: 3px;
    margin-right: 3px;
    display:inline-block;
    height:14px;
    width:14px;
  }

}

.fb-share-btn:hover {
  border-color: #9DACCE;
  color: #3B5998;
}


/* Campaign */

.campaign, .campaign-brick {
  background: #fff;
  border-width: 0 10px 10px 0;
  border-style: solid;
  padding: 10px;
  position: relative;

  &.bn {
    border-color: $bn-color;
  }

  &.pr {
    border-color: $pr-color;
  }
}

.campaign {
  margin-top: 20px;
  padding: 10px 20px;

  h1 {
    margin-bottom: 0;
  }

  img {
    width: 100% !important;
    height: auto !important;
  }

  .share-box {
    background: #f1f1f1;
    padding: 10px;
    margin-top: 10px;
    overflow: hidden;
    float: none;
    text-align: left;

    @media #{$small} {
      float: right;
      text-align: center;
    }

    .fb {
      float: left;
      margin-right: 8px;

      @media #{$small} {
        float: none;
        margin: 0;
      }
    }

    .tw {
      @media #{$small} {
        margin-top: 5px;
      }
    }
  }

  .campaign-content {
    margin: 10px 0;
    padding: 10px 0;

    @media #{$small} {
      border-top: 5px solid #f1f1f1;
    }

    ol, ul {
      margin-left: 30px;
    }
  }
}

.campaign-brick {

  .img-thumb {
    margin-top: 10px;
    height: 300px;
    background-color: #eee;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  h4 {
    margin-bottom: 0;
  }
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
  width: 100% !important;
}

.fb-like, .fb-like span, .fb-like span iframe[style] { width: 100% !important; }
