{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Please Vote Me — About{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-8 large-offset-2 columns">
            <div class="privacy-policy">
                <h2>About</h2>
                <p>Please Vote Me is a website for you to learn more about the GE13 candidates and vote for your favourite candidates.</p>
                <h3>Connect</h3>
                <p>Like us on <a href="http://facebook.com/pleasevoteme" target="_blank">Facebook</a> or follow us on <a href="http://twitter.com/pleasevoteme" target="_blank">Twitter</a>.</p>
                <h3>Contact</h3>
                <p>Have questions or suggestions? Check out our <a href="{% url 'faq' %}">FAQ</a> or send us an email at <a href="hello@pleasevote.me">hello@pleasevote.me</a>.</p>
            </div>
        </div>
    </div>
{% endblock %}
