{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Please Vote Me — About{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-8 large-offset-2 columns">
            <div class="privacy-policy">
                <h2>FAQ</h2>
                <h3>How can I help?</h3>
                <p>Help us spot any typo, incorrect or missing information and send it over to <a href="hello@pleasevote.me">hello@pleasevote.me</a>.</p>
                <h3>The voting page got refreshed after I've voted. Uh?</h3>
                <p>To protect from and prevent "spam" voting, each voting session has a 20 - 30 seconds timeout.</p>
                <h3>Are you PR or BN?</h3>
                <p>Neither. We are Malaysians.</p>
                <h3>Who do you think will win the GE13?</h3>
                <p>The people of Malaysia.</p>
            </div>
        </div>
    </div>
{% endblock %}
