{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Please Vote Me — Privacy Policy{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-8 large-offset-2 columns">
            <div class="privacy-policy">
                <h2>Privacy Policy</h2>
                <p>
                    This privacy policy applies to your use of the Please Vote Me website at pleasevote.me ("Please Vote Me").
                    All of us at Please Vote Me take your privacy and security very seriously. The following privacy statement discloses our information practices and declares our data collection methods, usage and confidentiality policies throughout Please Vote Me.
                </p>
                <p>
                    By using services and products provided by Please Vote Me, you are consenting to our processing of your information as set forth in the <a href="{% url 'tos' %}">Terms of Service</a> and <a href="{% url 'tos' %}">Privacy Policy</a> now and as may be amended by Please Vote Me from time to time.
                </p>
                <h3>General Policy</h3>
                <p>This policy applies to all areas of the pleasevote.me website. It is the responsibility of linked website's to provide their own privacy policies and we are not responsible for the privacy practices or content of any such website's.</p>
                <h3>Cookies</h3>
                <p>By using services and products of Please Vote Me, you are agree to accept the use of cookies. We use cookies to recognize your browser and capture and remember certain information. Cookies help us to ensure the security of our site, to provide you with features you have requested and to analyse how members and visitors use Please Vote Me. By blocking or disabling the use of cookies, you may not be able to access the features that Please Vote Me offers.</p>

                <h3>User Information</h3>
                <p>We will never make any of your personally identifiable information available to any third parties. We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. We may hand out your information when we believe by handing out your information is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. We will provide non-personally identifiable visitor information to trusted third parties who assist us in operating our websites, conducting our businesses, marketing, advertising, servicing you, or other uses as long as those parties agree to keep this information confidential.</p>

                <h3>Third Party Links</h3>
                <p>Upon our discretion, we may include or offer third party products or services on Please Vote Me's website. Keep in mind that these third party sites have separate and independent privacy policies. We have no responsibility or liability for the content and activities of these linked sites.</p>

                <h3>User Consent</h3>
                <p>By using our site, you consent to our websites privacy policy. Personal information, such as your email address, is not collected. You are responsible of your own personally identifiable information and you use our site without revealing your own identity.</p>
                <h3>Website Policy Changes</h3>
                <p>Please Vote Me reserves the right to change this, and any other policy located on our website at anytime without notifying our users. If you have questions or concerns regarding this policy, or any other policy you may contact us directly via email.</p>

                <h3>Last Revision</h3>
                <p>This Privacy Policy was last updated on 11 April 2013.</p>
            </div>
        </div>
    </div>
{% endblock %}
