{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Please Vote Me — Terms of Service{% endblock %}
{% block content %}
    <div class="row">
        <div class="large-8 large-offset-2 columns">
            <div class="privacy-policy">
                <h2>Terms of Service</h2>
                <p>
                    By using Please Vote Me's website and services, you indicate that you accept Please Vote Me's Terms of Service. Please read our Terms of Service before you start to use the site.
                </p>
                <p>
                    The website, pleasevote.me, is designed for users to vote between randomly matched politicians to calculate their popularity. Services provided by Please Vote Me are intended to be a fun place to visit and use. It is important to everyone (including you) that Please Vote Me remains a friendly environment, so you agree that you will only use pleasevote.me in a manner consistent with its purpose and which is in accordance with pleasevote.me's Terms of Service.
                </p>
                <p>
                    The terms apply whenever you visit pleasevote.me so please read them carefully. If you do not agree with our Terms of Service, please refrain from using the website and services from Please Vote Me.
                </p>
                <h3>Use of the Site</h3>
                <p>You can vote between two randomly paired candidates of the Malaysia's 13th general election based on your preference. We have no control over the preferences, votes or choices made by you and your votes are totally anonymous.</p>
                <p>There are some rules about acceptable user behaviour on Please Vote Me. Please read these user conduct for Please Vote Me. You may not use our site:</p>
                <ul style="margin-left: 30px">
                    <li>in any way that breaches any applicable local, national or international law or regulation.</li>
                    <li>in any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect.</li>
                    <li>for the purpose of harming or attempting to harm anyone in any way.</li>
                    <li>to send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards.</li>
                    <li>relate to commercial activities (including, without limitation, sales, competitions and advertising, links to other websites or premium line telephone numbers).</li>
                    <li>spamming others to game the vote count or to gain any type of profit through anything related to Please Vote Me.</li>
                    <li>and involve us into the transmission of "junk" mail or "spam".</li>
                </ul>
                <p>You also agree:</p>
                <ul style="margin-left: 30px">
                    <li>not to reproduce, duplicate, copy or re-sell any part of our site in contravention of the provisions of our terms of website use.</li>
                    <li>not to meta search our website or use it to make automated queries.</li>
                </ul>
                <p>You also agree not to access without authority, interfere with, damage or disrupt any part of pleasevote.me's site, equipment or network, software used in the provision of pleasevote.me, or any equipment, network, or software owned or used by any third party.</p>

                <h3>Voting</h3>
                <p>The voting standards and practices must be followed by you. These standards apply to any type of voting and contribution.</p>
                <p>Voting must be accurate and sane (not conducted blindly) and genuine (honest about the vote you cast).</p>

                <h3>User Information</h3>
                <p>We process information about you in accordance with our Privacy Policy. By using our site, you consent to such processing and you warrant that all data provided by you is accurate.</p>

                <h3>Site Content</h3>
                <p>The content and material (party's identity and information, candidate list, seats) on pleasevote.me are based on published materials from the internet. We do not and will not intend to infringe copyrights, property or privacy rights.</p>

                <p>If you have any concerns about material which appears on our site, please contact us via email.</p>

                <h3>Reliance on Information</h3>
                <p>The information available on our site are not intended to amount to advice on which reliance should be placed. We therefore disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor to our site, or by anyone who may be informed of any of its contents.</p>

                <h3>Suspension and Termination</h3>
                <p>We will determine, in our discretion, whether there has been a breach of this acceptable use policy through your use of our site.  When a breach of this policy has occurred, we may take such action as we deem appropriate.</p>

                <p>Failure to comply with this acceptable use policy constitutes an action breach of the terms of use (above) upon which you are permitted to use our site, and may result in our taking all or any of the following actions:</p>
                <ul style="margin-left: 30px">
                    <li>Immediate, temporary or permanent withdrawal of your right to use our site.</li>
                    <li>Issue of a warning to you.</li>
                    <li>Legal proceedings against you.</li>
                    <li>Disclosure of such information to law enforcement authorities as we reasonably feel is necessary.</li>
                </ul>
                <h3>Miscellaneous</h3>
                <p>This Agreement is personal to you, and you may not assign, transfer or delegate your rights or obligations to anyone.</p>
                <p>We may revise this acceptable use policy at any time by amending this page. You are expected to check our Terms of Service from time to time to take notice of any changes we make, as they are legally binding on you. Some of the provisions contained in this acceptable use policy may also be superseded by provisions or notices published elsewhere on our site.</p>

                <h3>Last Revision</h3>
                <p>This Privacy Policy was last updated on 11 April 2013.</p>
            </div>
        </div>
    </div>
{% endblock %}
